<table class="table table-dark table-hover" id="myTable">
  <thead>
    <tr class="header">
      <th scope="col">#Rank</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Market Value</th>
    </tr>
  </thead>
  <tbody>
    <% @parsed_coins.each do |coin| %>
      <tr>
        <th scope="row"><%= coin['coin_rank'] %></th>
        <td><%= coin['coin_name']  %></td>
        <td><%= coin['coin_symbol'] %></td>
        <td>$<%= coin['coin_price'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
