.crypto-banner-btn {
  margin-top: 2rem;

  .home-slide-btn {
      border-radius: 5%;
      font-family: $title-font;
      font-weight: bolder;
      text-decoration: none;
      background: rgba(245, 245, 245, 0.555);
      border: 2px solid;
      line-height: 1;
      margin: .7em;
      padding: 1em 2em;
      color: #000000;
      transition: 0.55s;
      letter-spacing: .1rem;

      &:hover,
      &:focus {
        border-color: adjust-hue(#000000, 45deg);
        color: rgb(255, 255, 255);
      }
    }

    .home-slide-btn:hover,
    .home-slide-btn:focus {
      box-shadow:
        inset -6em 0 0 0 adjust-hue(#000000, 45deg),
        inset 6em 0 0 0 adjust-hue(#000000, 45deg);
    }
}


#btn-news {
  border-radius: 5%;
  font-family: $main-font;
  box-shadow: 2px 2px 4px black;
  margin-top: .4rem;
}

.btn-div {
  margin-top: -12rem;

  .slide-btn {
      border-radius: 5%;
      font-family: $title-font;
      font-weight: bolder;
      text-decoration: none;
      background: rgba(245, 245, 245, 0.555);
      border: 2px solid;
      line-height: 1;
      margin: 0.5em;
      padding: 1em 2em;
      color: #000000;
      transition: 0.55s;
      letter-spacing: .1rem;

      &:hover,
      &:focus {
        border-color: adjust-hue(#000000, 45deg);
        color: rgb(255, 255, 255);
      }
    }

    .slide-btn:hover,
    .slide-btn:focus {
      box-shadow:
        inset -6em 0 0 0 adjust-hue(#000000, 45deg),
        inset 6em 0 0 0 adjust-hue(#000000, 45deg);
    }
}


.page-main {
  .slide-btn {
      margin-top: 2rem;
      border-radius: 5%;
      font-family: $title-font;
      font-weight: bolder;
      text-decoration: none;
      background: rgba(245, 245, 245, 0.555);
      border: 2px solid;
      line-height: 1;
      margin: 0.5em;
      padding: 1em 2em;
      color: #000000;
      transition: 0.55s;
      letter-spacing: .1rem;

      &:hover,
      &:focus {
        border-color: adjust-hue(#000000, 45deg);
        color: rgb(255, 255, 255);
      }
    }

    .slide-btn:hover,
    .slide-btn:focus {
      box-shadow:
        inset -6em 0 0 0 adjust-hue(#000000, 45deg),
        inset 6em 0 0 0 adjust-hue(#000000, 45deg);
    }

}

#modal-btn {
  font-size: 16px;
  text-align: center;
  background-color: none;
  color: #65a2ff;
  text-shadow: 1px 1px 2px #01204e;
  font-weight: bold;
  font-family: $body-font!important;
  text-decoration: none;
  font-weight: bold;
  box-shadow: none!important;
}

#modal-btn:hover {
  color: #3976d1;
  font-family: $body-font;
  font-weight: bold;
}

#btn-danger {
  font-size: 10px;
  width: 50%;
  height: 40%;
  font-family: $title-font;
  font-weight: bolder;
  text-decoration: none;
  background: rgba(245, 245, 245, 0.425);
  border: 2px solid;
  color: #a31515;
  transition: 0.55s;

  &:hover,
  &:focus {
    border-color: adjust-hue(#7a1561, 45deg);
    color: rgb(255, 255, 255);
  }
}

#btn-danger:hover,
#btn-danger:focus {
  box-shadow:
    inset -6em 0 0 0 adjust-hue(#7a1561, 45deg),
    inset 6em 0 0 0 adjust-hue(#7a1561, 45deg);
}

@media screen and (max-width: 600px) {
  #btn-danger {
      font-size: 7px;
      width: 20%;
      height: 10%;
      font-family: $title-font;
      font-weight: bolder;
      text-decoration: none;
      background: rgba(245, 245, 245, 0.425);
      border: 2px solid;
      color: #a31515;
      transition: 0.55s;

      &:hover,
      &:focus {
        border-color: adjust-hue(#7a1561, 65deg);
        color: rgb(255, 255, 255);
      }
    }
}

@media screen and (min-width: 600px) {
  #btn-danger {
    font-size: 6px;
    width: 50px;
    height: 25px;
    font-family: $title-font;
    font-weight: bolder;
    text-decoration: none;
    background: rgba(245, 245, 245, 0.425);
    border: 2px solid;
    color: #a31515;
    transition: 0.55s;
    text-align: center;

    &:hover,
    &:focus {
      border-color: adjust-hue(#7a1561, 45deg);
      color: rgb(255, 255, 255);
    }
  }
}

@media screen and (min-width: 1000px) {
  #btn-danger {
    font-size: 7px;
    width: 60px;
    height: 30px;
    font-family: $title-font;
    font-weight: bolder;
    text-decoration: none;
    background: rgba(245, 245, 245, 0.425);
    border: 2px solid;
    color: #a31515;
    transition: 0.55s;
    text-align: center;

    &:hover,
    &:focus {
      border-color: adjust-hue(#7a1561, 45deg);
      color: rgb(255, 255, 255);
    }
  }

  #btn-danger:hover,
  #btn-danger:focus {
    box-shadow:
      inset -6em 0 0 0 adjust-hue(#7a1561, 45deg),
      inset 6em 0 0 0 adjust-hue(#7a1561, 45deg);
  }
}

@media screen and (min-width: 1400px) {
  #btn-danger {
      font-size: 8px;
      width: 50%;
      height: 30%;
      font-family: $title-font;
      font-weight: bolder;
      text-decoration: none;
      background: rgba(245, 245, 245, 0.425);
      border: 2px solid;
      color: #a31515;
      transition: 0.55s;
      text-align: center;

      &:hover,
      &:focus {
        border-color: adjust-hue(#7a1561, 45deg);
        color: rgb(255, 255, 255);
      }
    }

    #btn-danger:hover,
    #btn-danger:focus {
      box-shadow:
        inset -6em 0 0 0 adjust-hue(#7a1561, 45deg),
        inset 6em 0 0 0 adjust-hue(#7a1561, 45deg);
    }
}
