.live-market {
  min-height: 60vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
  background-position-y: -500px;
}

.live-market h2 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
  font-family: $main-font;
}

.live_market-wrapper {
  background: rgb(241, 241, 241);
}

#prices-grid {
  margin-top: 1rem;
  font-family: $title-font;
  border: white;
  padding: .1rem;
  word-break: break-all;

  p{
    text-align: center;
    font-weight: bolder;
    color: #6c79b4;
  }

  small {
    font-weight: medium;
    letter-spacing: .1rem;
  }
}

#myInput {
  margin-bottom: -6rem;
  width: 50vh;
  max-width: 60vh;
  min-width: 30vh;
}

#myTable {
  margin-bottom: 0;
  font-family: $main-font;
  letter-spacing: .1em;
}


@media screen and (max-width: 600px) {
  .live-market h2 {
    font-size: 36px;
  }
}

@media screen and (min-width: 600px) {
  .live-market h2 {
    font-size: 24px;
    margin-bottom: 2rem;
  }
}
