.live-market {
  min-height: 60vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
  background-position-y: -500px;
}



.live-market h2 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
  font-family: $main-font;
}

.live_market-wrapper {
  background: rgb(241, 241, 241);
}

#myInput {
  margin-bottom: -6rem;
  width: 50vh;
}

#myTable {
  margin-bottom: 0;
  font-family: $main-font;
  letter-spacing: .1em;
}
