<h1>Cryptos</h1>

<div id="cryptos">
  <% @cryptos.each do |crypto| %>
    <%= render crypto if crypto.user_id.eql?(current_user.id)%>
    <p>
      <%= link_to "Show this crypto", crypto %>
    </p>
  <% end %>
</div>

<%= link_to "New crypto", new_crypto_path %>
